[Unit]
Description=Ejecucion Unitaria de Telemetria RPi (One-shot para Timer)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/[USUARIO]/taller-systemd
ExecStart=/usr/bin/python3 /home/[USUARIO]/taller-systemd/telemetria.py once
User=[USUARIO]
Group=[USUARIO]

StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1
